<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <title>E-commerce</title>
    <link rel="stylesheet" href="shop.css">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
</head>
<body>
<form action="/shop" method="GET" style=position:absolute;left:40%;>
</form>
<nav class="navbar navbar-expand-sm navbar-dark bg-black">
    <div class="container">
        <a href="http://localhost:63342/Online-Shop/onlineShop/templates/pages/main.html?_ijt=p4gibp8t7iur4iaes7hdohit6i" class="navbar-brand">Perfumes</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="http://localhost:8080/products"class="nav-link">All products</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost:8080/add" class="nav-link">Add product</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost:8080/delete" class="nav-link">Delete product</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost:8080/products" class="nav-link">Search product</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="fas fa-shopping-cart fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="services py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                      <span class="service-icon">
                          <i class="fas fa-globe fa-2x"></i>
                      </span>
                <h5 class="font-weight-bold text-uppercase">Worldwide Shipping</h5>
                <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Ducimus, dicta!</p>
            </div>
            <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                    <span class="service-icon">
                        <i class="fas fa-stamp fa-2x"></i>
                    </span>
                <h5 class="font-weight-bold text-uppercase">Certified by Gurus</h5>
                <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Ducimus, dicta!</p>
            </div>
            <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                    <span class="service-icon">
                        <i class="fas fa-file-invoice-dollar fa-2x"></i>
                    </span>
                <h5 class="font-weight-bold text-uppercase">30 Days Money Back</h5>
                <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Ducimus, dicta!</p>
            </div>
        </div>
    </div>
</section>
<section id="products" class="products py-5">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto col-sm-6 text-center">
                <h1 class="text-capitalize product-title">Featured Products</h1>
            </div>
        </div>
        <div class="row product-items" id="product-items">
            <!-- single items -->
            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <div class="img-container">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcO6PEKwfqargVWsoOmWVHtpNlLF_ytX-FJBnXxfF_a0Ijpr0p6d2JDGloVN5hnnt5fLQ&usqp=CAU" class="card-img-top product-img" alt=""  height="280">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name">Coco Shanel</h5>
                            <span><i class="fas fa-dollar-sign"></i>700</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <div class="img-container">
                        <img src="https://static.toiimg.com/thumb/msid-63080082,imgsize-293543,width-800,height-600,resizemode-75/63080082.jpg" class="card-img-top product-img" alt="" height="280">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name"> Branded Watch</h5>
                            <span><i class="fas fa-dollar-sign"></i>450</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <div class="img-container">
                        <img src="https://fraguru.com/mdimg/vijestiru/o.11281.2.jpg" class="card-img-top product-img" alt="" height="250" >
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name"> Bleu Shanel</h5>
                            <span><i class="fas fa-dollar-sign"></i>550</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <div class="img-container">
                        <img src="https://static.eva.ua/media/wysiwyg/SEO_IMG/brand-filter/parfjumerija-z-chloe/608x700.jpg" class="card-img-top product-img" alt="" height="350">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name"> Chloe</h5>
                            <span><i class="fas fa-dollar-sign"></i>650</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <div class="img-container">
                        <img src="https://i.pinimg.com/474x/3a/0e/12/3a0e12bee3cb44f491b2c0a5680fdc7e.jpg" class="card-img-top product-img" alt=""height="350">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name">Shanel </h5>
                            <span><i class="fas fa-dollar-sign"></i>750</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <div class="img-container">
                        <img src="https://zachiska.com/wp-content/uploads/2020/03/Avon-Viva-La-Vita.jpg" alt="" height="350">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name"> Viva La Vita</h5>
                            <span><i class="fas fa-dollar-sign"></i>850</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <div class="img-container">
                        <img src="https://static.eva.ua/media/wysiwyg/SEO_IMG/Category/parfjumerija-zhenskaja/608x555.jpg" class="card-img-top product-img" alt="" height="300">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name"> Adel</h5>
                            <span><i class="fas fa-dollar-sign"></i>950</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <div class="img-container">
                        <img src="https://zachiska.com/wp-content/uploads/2020/03/Avon-Perceive-Dew.jpg" class="card-img-top product-img" alt="" height="300">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="store-item-name">Perceive</h5>
                            <span><i class="fas fa-dollar-sign"></i>350</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                <div class="card single-item">
                    <div class="img-container">
                        <img src="https://vovk.com/magazine/wp-content/uploads/2018/03/vovk_perfume.jpg" class="card-img-top product-img" alt="" height="300">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="item-name"> Coco Shanel</h5>
                            <span><i class="fas fa-dollar-sign"></i>350</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
<section class="seller py-5">
    <div class="container">
        <!--Section title-->
        <div class="row mb-5">
            <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                <h1 class="font-weight-bold align-self-center mx-1">
                    Best Seller Products
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 ">
                <div class="seller-item">
                    <img src="https://vingudpss.gov.ua/sites/default/files/styles/505x320m/public/0603201901.jpg?itok=K9F0AAjp&v=1551869481" alt="" class="img-fluid photo">
                    <p>Lador de Faler</p>
                </div>
            </div>
            <div class="col-sm-6 d-flex flex-column justify-content-between">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="seller-item">
                            <img src="https://www.bottegaverde.ua/image/catalog/blog/profumi-miglior-regalo/1.png" alt="" class="img-fluid seller-img">
                            <p>Mereliz France</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="seller-item">
                            <img src="https://img.joomcdn.net/8b8b693e8c4f6d344877ce52122d0a07ccd0790a_original.jpeg" alt="" class="img-fluid seller-img">

                            <p>Lorem</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer mt-5">
    <div class="text-center py-5">
        <h2 class="py-3">Perfume</h2>
        <div class="mx-auto heading-line"></div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-8 offset-lg-2 text-center">
                <p>Our contacts: 04890, Franse, William Streat, 76 <br>
                Phone:(0847)-45-840<br></p>
                <div class="justify-content-center">
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-twitter fa-2x"></i>
                    <i class="fab fa-instagram fa-2x"></i>

                </div>
            </div>
        </div>
        <div class="copyright text-center py-3 border-top text-light">
            <p>&copy; Copy Right Time Value</p>

        </div>
    </div>

</footer>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


